#tooltip {
    background: white;
    border: 15px solid black;
    border-radius: 70px;
    padding: 0;
    height: 100px;
    width: 450px;
    font-size: 4.7rem;
    text-align: center;
    font-family: "Jetbrains Mono", monospace;
  }

  #tooltip2 {
    background: white;
    border: 15px solid black;
    border-radius: 70px;
    padding: 0;
    height: 100px;
    width: 450px;
    font-size: 4.7rem;
    text-align: center;
    font-family: "Jetbrains Mono", monospace;
  }

  rect:hover {
    fill:#FF0000
}



